<!--FINAL EXAM BY SAKIB PATEL
    STUDENT #200307608
    MODIFICATION DATE: 2016-08-18

    FILE DESCRIPTIION: This page shows us the artist name, genre, and title of the album -->

@using COMP2006_S2016_FinalExamV2.Models
@model Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}
<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title"
         src="@Model.AlbumArtUrl" />
</p>
<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genre.Name
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist.Name
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}",
Model.Price)
    </p>
   
</div>

